 body {background-color:antiquewhite;
background-image: url(../axx/IMG_9014.JPG)}
 h1 {text-align: center;
background-color: aquamarine}
h2 {font-size:x-large;
border-style: solid;
border-color: black;
border-width: thick;
width: 30%;
}