body{
padding: 0px;
margin: 0px;

}
#heading{
   
    font-family: Arial, Helvetica, sans-serif;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
    display: block;
    width: 500px;
 
}
abbr{
    text-decoration: none;
    background-color: aquamarine;
}
a {
    background-color: antiquewhite;
}
#heading2{
    font-family: Arial, Helvetica, sans-serif;
    color: slategray;
}
span{
    font-size: 80%;
    font-style: italic;
}
OL.withUpperRoman {
    list-style-type: upper-roman;
    font-size: 85%;
}
UL.square{list-style-type: square;}
table{	h1:text-align center;
		table:text-align center;
        
}
#author{
    color: purple;
}
#authorinfo{
position: absolute;
top: 20px;
left: -50px;
}
#body{
margin-left: 350px;
}