body{
padding: 0px;
margin: 0px;

}
#heading{
   
    font-family: Arial, Helvetica, sans-serif;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
    display: block;
    width: 500px;
 
}
abbr{
    text-decoration: none;
    background-color: aquamarine;
}
a {
    background-color: antiquewhite;
}
#heading2{
    font-family: Arial, Helvetica, sans-serif;
    color: slategray;
}
span{
    font-size: 80%;
    font-style: italic;
}
OL.withUpperRoman {
    list-style-type: upper-roman;
    font-size: 85%;
}
UL.square{list-style-type: square;}
table{	h1:text-align center;
		table:text-align center;
        
}
#author{
    color: purple;
}
#authorinfo{
position: absolute;
top: 20px;
left: -50px;
}
#body{
margin-left: 350px;
}
.Boxmodel{
    position: absolute;
    top: 20px;
    left: 900px;
}
.Boxmodel h1{
     text-align: center;
}
.Boxmodel h2{
        text-align: center;
    color: darkblue;
    border-style: solid;
    border-color: black;
    width: 100px;
}
.Boxmodel ul{
    list-style: none;
text-align: center;
}
.Boxmodel li:hover{  background-color: plum;}
.Boxmodel h2:hover{ background-color:pink;}
.Boxmodel li{
     display: inline-block;
 width: 150px;
 text-align: center;
 padding: 3px 0 0 10px;
 border-bottom: 5px solid black;
 background-color:antiquewhite;
 border-left: 4px solid slateblue;
 padding: 10px;
}
.Boxmodel li a{
       text-decoration: none;
  font-weight: bold;

}
